<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.dllo.tomatotodo">

    <uses-permission android:name="android.permission.GET_TASKS" />
    <uses-permission android:name="android.permission.PACKAGE_USAGE_STATS" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <!-- 允许联网 -->
    <uses-permission android:name="android.permission.INTERNET" />
    <!-- 获取GSM（2g）、WCDMA（联通3g）等网络状态的信息 -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <!-- 获取wifi网络状态的信息 -->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <!-- 保持CPU 运转，屏幕和键盘灯有可能是关闭的,用于文件上传和下载 -->
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <!-- 获取sd卡写的权限，用于文件上传和下载 -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <!-- 允许读取手机状态 用于创建BmobInstallation -->
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <!--读取sd卡的权限   -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS"/>

    <application
        android:name=".base.MyApp"
        android:allowBackup="true"
        android:icon="@mipmap/about_logo"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".main.MainActivity"
            android:launchMode="singleTask">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".potatolist.activity.PotatoListDetailActivity" />
        <activity android:name=".service.CompleteTimerActivity" />
        <activity android:name=".countdowndetail.CountdownDetailActivity" />

        <service android:name=".service.TomatoService" />

        <activity android:name=".preferences.PreferencesActivity" />
        <activity android:name=".preferences.shieldingapplications.ShieldingApplicationsActivity" />
        <activity android:name=".preferences.shieldingapplications.WarningActivity" />
        <activity android:name=".potatolist.activity.EditPotatolistActivity" />
        <activity android:name=".statistics.object.ObjectiveActivity" />
        <activity android:name=".statistics.ObjectOptionsActivity"/>
        <service android:name=".preferences.shieldingapplications.CoreService" />

        <activity android:name=".preferences.lengthoftime.LengthOfTimeActivity" />
        <activity android:name=".preferences.AccountActivity" />
        <activity android:name=".preferences.LoginActivity" />
        <activity android:name=".preferences.settings.SettingsActivity"></activity>

        <receiver
            android:name=".history.MyAppWidgetProvider"
            android:label="@string/app_name"><!-- HelloWidgetProvider为那个class(业务处理) -->　

            <intent-filter>

                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" /> <!-- 指定了的 -->

            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/appwidget_provider_info" /> <!-- 为上面指定了的widget -->

        </receiver>

    </application>

</manifest>